<!--<!doctype html>-->
<!--<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout">-->
<!--<head>-->
<!--    <title>Private Index</title>-->
<!--    &lt;!&ndash;/* Used only for editing in Pinegrow &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">-->
<!--    &lt;!&ndash;*/&ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<!--<section layout:fragment="content">-->
<!--    <div class="container">-->
<!--        Welcome-->
<!--    </div>-->
<!--    <div class="container">-->
<!--        <a href="/logout">Logout</a>-->
<!--        <button hx-get="/private/data" hx-target="#data" hx-swap="innerHTML">Get Data</button>-->
<!--        <button hx-get="/public/logout" hx-swap="none">Logout Session</button>-->
<!--        <div id="data"></div>-->
<!--    </div>-->
<!--</section>-->
<!--</body>-->
<!--</html>-->